h1{
    font-family: 'Dongle', sans-serif;
    font-size: xxx-large;
}

.list{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 25%;
    height: 45%;
    border-radius: 25%;
}

input{
    border: none;
}

.oglist{
    border:1px solid black;
    list-style-type: none;
}

.listitems{
    border:1px solid black;
    list-style-type: none;
}

.listitems button.delete-btn {
    display: none;
  }
  
.listitems:hover button.delete-btn {
    display: flex;
    float: right;
    border: none;
    color: red;
    background-color: none;
  }