body {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/628/192/desktop-wallpaper-pink-neutral-minimal-terrazzo-pattern-neutral-colors.jpg");
}

.list {
    margin: 1% auto;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
    background-image: url("https://media.istockphoto.com/id/1143936110/photo/rough-white-paper-texture-natural-paper-material.jpg?s=170667a&w=0&k=20&c=Wt3CWfAFvQMtVp8GZjw-6FHYIa75zv-K4NYt1DcZ3nI=");
} 

h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    padding-left: 40px;
    font-size: 24px;
    line-height: 2;
    margin-bottom: 10px;
    list-style-type: none;
}            

.delete {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: none;
    color: red;
    background-color: transparent;
}
            
li:hover .delete {
    opacity: 1;
}

input[type="text"] {
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 75%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #48bfe3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}
      
button[type="submit"]:hover {
background-color: #64dfdf;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
transform: translateY(-1px);
}
  